@import '../../@{theme}';
@cellPrefixCls: cefc-cell;
@space: .15rem;
.container_bg_ChatBkg {
    width: 100%;
    height: 100%;
    background-color: white;
}

.demoContainer {
  width: 100%;
  height: 300px;
}