@cellPrefixCls: cefc-kline;
@space: .15rem;
@font-size-small: .12rem;
@gap: 0;
@xAxisLabelHeight: .18rem;

.demoContainer {
  height: 252px;
}

.container_bg_ChatBkg {
  width: 100%;
  height: 100%;
  position: relative;
}

.realTimeOpenCloseTimeKLine {
  color: #c5c5c5;
  font-size: @font-size-small;
  //position: absolute;
  //width: 100%;
  //bottom: 0;
  //height: @xAxisLabelHeight;
  //box-sizing: border-box;
  //color: #c5c5c5;
  //font-size: @font-size-small;

  .fl_left {
    position: absolute;
    left: @gap;
    bottom: -0.15rem;

    &.landscape {
      transform: translateZ(100px);
    }
  }

  .fl_right {
    position: absolute;
    right: @gap;
    bottom: -0.15rem;
    z-index: 5;

    &.landscape {
      transform: translateZ(100px);
    }
  }

  .yAxisLeft_top {
    position: absolute;
    left: @gap;
    top: 0;
    z-index: 5;

    &.landscape {
      transform: translateZ(100px);
    }
  }

  .yAxisLeft_middle {
    position: absolute;
    left: @gap;
    top: 35%;

    &.landscape {
      transform: translateZ(100px);
    }
  }

  .yAxisLeft_bottom {
    position: absolute;
    left: @gap;
    top: 67%;
    z-index: 5;
    &.landscape {
      top: 62%;
      transform: translateZ(100px);
    }
  }

  .show_vol {
    position: absolute;
    left: @gap;
    bottom: 15%;
    z-index: 5;
    &.landscape {
      bottom: 17%;
      transform: translateZ(100px);
    }
  }
}